NUXT_API_SECRET=api_secret_token
# 60000 = 1 minute, 0 = no timeout
# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL='https://app.yourdomain.com'
NUXT_PUBLIC_TIME_OUT=300000
NUXT_PUBLIC_API_DOMAIN='yourdomain.com'
NUXT_PUBLIC_API_BASE='https://app.yourdomain.com'
NUXT_PUBLIC_CDN_BASE='https://app.yourdomain.com'
NUXT_PUBLIC_API_CLIENT='default'
NUXT_PUBLIC_APP_VERSION='1.0.0'
NUXT_PUBLIC_CODE_VERSION=1
NUXT_PUBLIC_WEB_URL='https://app.yourdomain.com'
